.apple
	background-color: #242a2c

.apple-top
	padding-top: 40px

.owl-head
	margin-top: 40px
	text-align: center
	width: 100%
	margin: 0
	padding: 0
	font-family: Helvetica
	color: #737c85
	display: flex








.apple-carousel-item
	text-align: center



// .parent:hover .child


.carousel-img
	margin: 0
	width: 100%
	height: auto








