.apple
	background-color: #242a2c
	width: 100%

.apple-top
	margin: 0
	padding: 0	

.owl-head
	margin-top: 40px
	text-align: center
	width: 80%
	margin: 0
	padding: 0
	font-family: Helvetica
	color: #737c85
	display: flex

.owl-nav
	font-size: 80px




.owl-prev
	position: absolute
	right: 105%
	top: 40%
	outline: none

.owl-next
	position: absolute
	left: 105%
	top: 40%
	outline: none




.apple-carousel-item
	text-align: center



// .parent:hover .child


.carousel-img
	margin: 0
	width: 100%
	height: auto

@media screen and (max-width: 768px)
	.owl-nav
		overflow: hidden
		display: none
		visibility: none









